*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  transition: 5s ease;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://images.unsplash.com/photo-1552849397-7a2d7864a9b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-size: cover;
  background-position: center;
  position: relative;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  padding-top: 45px;
  padding-bottom: 45px;
  float: left;
  width: 170px;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  padding-bottom: 150px;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s ease;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  margin-top: 50px;
}

.text-box h1{
  font-size: 70px;
  font-weight: bold;
  font-style: oblique;
}

.text-box p{
  margin: 10px 0 40px;
  font-size: 17px;
  color: #fff;
  font-weight: bold;
}

.red{
  color: #EE4B2B;
  transition: 0.5s ease;
}

.red:hover{
  color: white;
}

.not-red{
  color: gold;
  transition: 0.5s ease;
}

.not-red:hover{
  color: white;
}

p{
  font-style: italic;
}

.sign-up-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  font-weight: bold;
}

.sign-up-btn:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s ease;
}

nav .fa{
  display: none;
}

@media(max-width: 700px){
  .text-box h1{
    font-size: 50px;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  i{
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 30px;
  }
}

/*---- Course ---- */

.course{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1{
  font-size: 36px;
  font-weight: 600;
}

p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
